* {
    box-sizing: border-box;
    background-color: rgb(100, 105, 100);
}

div {
    color: black;  
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#titleScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: #e8e3e3;   
}

button:hover {
    background-color: #c2bcbc;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    flex: 0 0 0; /*100vh*/
    width: 320px;
    /*background-color: beige;*/
}

.cell {
    padding: 15px;
    margin: 0%;
    border: 1px solid black;
    flex: 0 0 10px;
    background-color: rgb(197, 197, 194);
}

.mine {
    background-color: red;
}

.cell:hover {
    background-color: #eee;
}

.cell-clicked {
    background-color: white;
}

.flagged {
    background-image: url(./assets/images/minesweeper-flag-icon-v1-002-3d-model-low-poly-max-obj-3ds-fbx-ma-stl.jpg);
    object-fit: cover;
}