* {
    box-sizing: border-box;
}

body {
    background-color: rgb(100, 105, 100);
    font-size: 8;
}

div {
    color: black;  
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#titleScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font: 18px Times, serif;
    font-weight: bold;
}

button {
    background-color: #e8e3e3;   
    font-size: 8px;
}

button:hover {
    background-color: #c2bcbc;
}

.display-button {
    display: none;
}

.sound-button {
    display: flex;
    justify-content: right;
    font-size: 12px;
}

.difficulty {
    font: 14px Times, serif;
    font-weight: bold;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    flex: 0 0 0; /*100vh*/
    background-size: 100% 100%;
    background-color: beige;
    cursor: pointer;
    background-position: center;
    object-fit: contain;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    border: 1px solid whitesmoke;
    background-color: rgb(197, 197, 194);
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    
    font: 8px Arial, sans-serif;
    font-weight:bold;
    color: rgba(0,0,0,0);
    object-fit: contain;
}

.cell-easy {
    height: 8vw;
    flex: 0 0 8vw;
}

.cell-normal {
    height: 5.5vw;
    flex: 0 0 5.5vw;
}

.cell-hard {
    height: 3vw;
    flex: 0 0 3vw;
}

.cell-easy:hover, .cell-normal:hover, .cell-hard:hover {
    border: 3px dashed black;
}

.cell-clicked {
    background: rgba(197, 197, 194, 0.7);
    cursor: default;
}

/*.mine {
    background-color: red;
}*/

.flagged {
    background-image: url("./assets/images/minesweeper-flag-icon-v1-002-3d-model-low-poly-max-obj-3ds-fbx-ma-stl.jpg");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.game-header {
    display: none;
    justify-content: center;
    padding: 3px;
    margin: 10px 10px 0 10px;
    border: 1px solid black;
    font-size: 8px;
}

.pause-button, .restart-button {
    visibility: hidden;
}

.game-timer {
    justify-self: left;
    padding: 3px;
}

.flags-left {
    justify-self: right;
    padding: 3px;
}

@media only screen and (min-width: 500px) {
    .cell {
        font-size: 15px;
    }
    .cell-easy {
        height: 4vw;
        flex: 0 0 4vw;
        min-height: 50px;
        min-width: 50px;
    }
    .cell-normal, .cell-hard {
        height: 2.5vw;
        flex: 0 0 2.5vw;
        min-height: 35px;
        min-width: 35px;
    }
    body, .sound-button {
        font-size: 16px;
    }
    button {
        font-size: 13px;
    }
    .title {
        font-size: 24px;
    }
    .difficulty {
        font-size: 18px;
    }
    .game-header, .game-timer, .flags-left {
        padding: 10px;
        font-size: 16px;
    }
}
